In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("LocalSparkPractice") \
    .master("local[*]") \
    .getOrCreate()

spark

In [8]:
df = spark.read.csv("Data/emp_details.csv", header=True, inferSchema=True)
df.show()
df.printSchema()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows
root
 |-- eno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- doj: string (nullable = true)
 |-- deptno: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [13]:
df.groupBy("deptno").count().show()

df['deptno']

+------+-----+
|deptno|count|
+------+-----+
|    20|    9|
|    40|    8|
|    10|    9|
|    50|    8|
|    60|    8|
|    30|    8|
+------+-----+

Column<'deptno'>

In [17]:
df

DataFrame[eno: int, ename: string, doj: string, deptno: int, salary: int]

In [18]:
df.show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [20]:
df.select('deptno').show()

+------+
|deptno|
+------+
|    10|
|    20|
|    30|
|    40|
|    50|
|    60|
|    10|
|    20|
|    30|
|    40|
|    50|
|    60|
|    10|
|    20|
|    30|
|    40|
|    50|
|    60|
|    10|
|    20|
+------+
only showing top 20 rows